<html>
	<!-- styles weren't showing quite properly.. -->
	<style>
		a:link {color:white; background-color:black; text-decoration:none;}
		a:visited {color:gray; background-color:black; text-decoration:none;}
		a:hover {color:red; background-color:black; text-decoration:none;}
	</style>
	<link rel="stylesheet" type="text/css" href="./static/css/style.css">
	<h1>Pages</h1>
	<!-- We are using the div tag to customise later-->
	<div>
		<body>
			<!-- These will need to be changed at some point -->
			<a href="http://google.com">google example link</a> <br/>
		</body>
	</div>
</html>

